<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车(初版)</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./styles/style1.css">
    <link rel="stylesheet" href="./styles/header.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>初版</li>
                <li><a href="shoppingBookstrap.html">初版（Bookstrap）</a></li>
                <li><a href="index.simple.html">完整版</a></li>
                <li><a href="index.noUrl.html">完整版（noUrl）</a></li>
                <li><a href="index.html">加强版</a></li>

            </ul>
        </nav>
    </header>
    <div id="app">
        <template v-if="list.length">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkBox" :checked="isSelectedAll()" @click="selectAll">全选</th>
                        <th>序号</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in list" :key="index">
                        <td><input type="checkBox" :checked="item.isSelected" @click="selectOne(index)"></td>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>￥{{item.price}}</td>
                        <td>
                            <button @click="reduceCount(index)" :disabled="item.count ===1">-</button>
                            &nbsp;&nbsp;{{item.count}}&nbsp;&nbsp;
                            <button @click="addCount(index)">+</button>
                        </td>
                        <td><button @click="delGoods(index)">删除</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="total-price">总价：<span>￥{{totalPrice}}</span><button
                    @click="shoppingAlert">结&nbsp;&nbsp;&nbsp;算</button></div>
        </template>
        <div v-else="list.length==0" class="empty-cart">购物车已清空</div>
    </div>
    <script>
        const RootComp = {
            data() {
                return {
                    list: [
                        {
                            isSelected: true,
                            id: 1,
                            name: 'Huawei Mate60',
                            price: 5499,
                            count: 1
                        },
                        {
                            isSelected: true,
                            id: 2,
                            name: 'Huawei Mate60 Pro',
                            price: 6999,
                            count: 1
                        },
                        {
                            isSelected: true,
                            id: 3,
                            name: 'Huawei Mate60 Pro+',
                            price: 9999,
                            count: 1
                        }
                    ]
                }
            },
            computed: {
                totalPrice() {
                    let total = 0
                    for (let i = 0; i < this.list.length; i++) {
                        let item = this.list[i]
                        if (item.isSelected)
                            total += item.price * item.count
                    }
                    return total
                }
            },
            methods: {
                delGoods(index) {
                    if (!confirm('是否删除该商品'))
                        return
                    this.list.splice(index, 1)
                },
                reduceCount(index) {
                    if (this.list[index].count === 1)
                        return
                    this.list[index].count--
                },
                addCount(index) {
                    this.list[index].count++
                },
                selectOne(index) {
                    this.list[index].isSelected = !this.list[index].isSelected
                },
                isSelectedAll() {
                    for (const item of this.list) {
                        if (!item.isSelected) {
                            return false
                        }
                    }
                    return true
                },
                selectAll() {
                    const flag = !this.isSelectedAll();
                    for (const item of this.list) {
                        item.isSelected = flag;
                    }
                },
                // //使用 every() 方法来简化这个检查
                // isSelectedAll() {
                //     return this.list.every(item => item.isSelected)
                // },
                // selectAll() {
                //     const flag = !this.isSelectedAll()
                //     for (const item of this.list) {
                //         item.isSelected = flag;
                //     }
                // },
                shoppingAlert() {
                    if (this.totalPrice === 0) {
                        alert('未选中商品，请选择商品后结算')
                        return
                    }
                    if (!confirm('是否确认结账')) {
                        return
                    }
                    alert('结账成功，已购买' + this.totalPrice  + '元的商品')
                    // 删去已购买的商品
                    this.list = this.list.filter(item => !item.isSelected)
                }
            }
        }
        // 创建vue应用的根组件
        const vueApp = Vue.createApp(RootComp)
        // 挂载处理
        const vuemodle = vueApp.mount('#app')
    </script>
</body>

</html>
